.banner{
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(44, 63, 60), rgb(39, 15, 71), rgb(44, 63, 60), rgb(39, 15, 71));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner h4{
  position: absolute;
  top: 20px;
  left: 20px;
}

.banner button{
  background: linear-gradient(45deg, rgb(44, 63, 60), rgb(39, 15, 71));
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 40vw;
  padding: 10px 0px;
}

.projects{
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(44, 63, 60), rgb(39, 15, 71), rgb(44, 63, 60), rgb(39, 15, 71));
  color: white;
  padding-top: 50px;
}